/* Universal styling choices used unless otherwise specified */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Size and display style of page header */
h1 {
    display: inline-block;
    font-size: 48px;
}
/* Specific color instructions for "seo" portion of page header */
#seo {
    color: #d9dcd6;
}
 
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}
/* Organization of nav bar list items */
li {
    display: inline-block;
    margin-left: 25px;
}
/* Size of all plain paragraph font throughout page */
p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* 59-72 Indicate location of images in the main sections */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Overall styling of the <aside> section to the right of page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Margin and font color of content in aside section */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Styling for images in the aside section on right of page */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Styling for the 3 main content sections */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Specific instructions for height of images in main sections */
.content img {
    max-height: 200px;
}
/* Specific instructions for headers of each main section */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Gives general styling to footer class as a whole */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Applies specific font size and color to h4 element under footer class */
.footer h4 {
    font-size: 20px;
    color: black
}
/* Applies specific font size and color to p element under footer class */
.footer p{
    font-size: 16px;
    color: black
}